body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color: #0BD8B6;
    width: 100%;
    background-color:#291F43;
    font-family: "mina" ;
}